html body {
  background-color: darkslateblue;
}
html {
  position: relative;
}

#game {
  width: 1000px;
  margin: 50px auto;
}

.upper {
  text-align: center;
  color: darkgreen;
  font-weight: bold;
  background-color: burlywood;
  margin-bottom: 20px;
}

.lower {
  border: solid 2px white;
  background-color: burlywood;
  color: darkgreen;
  font-weight: bold;
  width: 48%;
  float: left;
  margin-top: 50px;
  height: 180px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

.choice {
  height: 200px;
  width: 200px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.green {
  background-color: #b7ee9c;
}

.red {
  background-color: #ee9c9c;
}

.footer {
  position: fixed;
  background-color: darkgreen;
  color: white;
  text-align: center;
  font-size: 12px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}
