body {
  background-color: darkslateblue;
}

#game {
  width: 1000px;
  margin: 75px auto;
}

.upper {
  text-align: center;
  color: darkgreen;
  font-weight: bold;
  background-color: burlywood;
  margin-bottom: 20px;
}

.lower {
  border: solid 2px white;
  background-color: burlywood;
  color: darkgreen;
  font-weight: bold;
  width: 48%;
  float: left;
  margin-top: 75px;
  height: 200px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

.choice {
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.green {
  background-color: #b7ee9c;
}

.red {
  background-color: #ee9c9c;
}
